export(analyzeTPPCCR)
export(analyzeTPPTR)
export(tppDefaultTheme)
export(tppExport)
export(tppQCPlotsCorrelateExperiments)
export(tppccrCurveFit)
export(tppccrImport)
export(tppccrNormalize)
export(tppccrTransform)
export(tpptrCurveFit)
export(tpptrDefaultNormReqs)
export(tpptrImport)
export(tpptrNormalize)
export(tpptrQCPlotsMinSlopes_vs_MPdiffs)
export(tpptrResultTable)
export(tppVenn)
import(ggplot2)
import(Biobase)
import(plyr)
import(openxlsx)
import(gridExtra)
import(grid)
importFrom(parallel, detectCores, stopCluster)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(foreach, '%dopar%')
importFrom(foreach, foreach)
importFrom(reshape2, melt)
importFrom(VGAM, erfc)
importFrom(nls2, nls2)
importFrom(VennDiagram, venn.diagram)
