export(analyzeTPPCCR)
export(analyzeTPPTR)
export(tppDefaultTheme)
export(tppExport)
export(tppQCPlotsCorrelateExperiments)
export(tppccrCurveFit)
export(tppccrImport)
export(tppccrNormalize)
export(tppccrNormalizeToReference)
export(tppccrPlotCurves)
export(tppccrResultTable)
export(tppccrTransform)
export(tpptrAnalyzeMeltingCurves)
export(tpptrCurveFit)
export(tpptrDefaultNormReqs)
export(tpptrImport)
export(tpptrNormalize)
import(ggplot2)
import(Biobase)
import(plyr)
import(openxlsx)
import(gridExtra)
import(grid)
import(VennDiagram)
importFrom(parallel, detectCores, stopCluster)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(foreach, '%dopar%', '%do%')
importFrom(foreach, foreach)
importFrom(reshape2, melt)
importFrom(VGAM, erfc)
importFrom(nls2, nls2)
importFrom(RColorBrewer, brewer.pal)
importFrom(RCurl, url.exists)
